<!-- Post card containing form for creating a new post -->
<div class="post-card card p-4">
    <!-- Title for the new post page -->
    <h2 class="page-title">New Post</h2>
    <!-- Form for creating a new post -->
    <form class="form post-form">
        <!-- Input field for post title -->
        <div class="form-group">
            <label for="post-title">Title:</label>
            <input class="form-input" type="text" id="post-title" />
        </div>
        <!-- Textarea for post content -->
        <div class="form-group">
            <label for="content">Blog:</label>
            <textarea class="form-textarea" type="text" id="content"></textarea>
        </div>
        <!-- Submit button -->
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

<!-- JavaScript file for handling new post functionality -->
<script src="./js/newPost.js"></script>
